PERIPHERY_CORE_ENDPOINT_ADDRS="xxx" # Core Public Key
PERIPHERY_ONBOARDING_KEY="xxx"
PERIPHERY_CONNECT_AS="Primary Node" # Arbitrary name
PERIPHERY_ROOT_DIRECTORY="$HOME/.local/share/luddite"
PERIPHERY_INGRESS_ENABLED=true # Or false. I think you need root for ingress to get port 80 and 443, but there are ways to allow a non-root access to reserve these ports as well.
PERIPHERY_HTTP_BRIDGE_PORT=8443 # Change to a different port if occupied
